<div class="d-flex justify-content-center mt-5">
    <div class="container">
        <h3 class="font-weight-bold">AutoXen Website is my defense project for ASP.NET Core MVC course at SoftUni. </h3>
        <hr />
        <a class="h4 font-weight-bold" href="https://github.com/Simeon231/AutoXen">Github link</a>
        <hr />            
        <div class="pl-5 mt-4 font-weight-bold h5">
            Admins:
        </div>
        <ul class="mt-1">

            <li> <b>email:</b> admin@admin.admin && <b>pasword:</b> admin@admin.admin </li>
            <li> <b>email:</b> admin2@admin.admin && <b>pasword:</b> admin2@admin.admin </li>
        </ul>
    </div>
</div>
