@using AutoXen.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<div class="steps-container">
    <div class="container">
        <h2 class="text-center">Процес на изпълнение</h2>
    </div>
    <div class="container">

        <div class="col-sm-3">
            <div class="animated fadeInLeft in-view" style="animation-delay: 100ms"><div class="icon-box step-1"></div></div>
            <span class="next  animated fadeInLeft in-view" style="animation-delay: 500ms"></span>
            <span class="title  animated fadeInLeft in-view" style="animation-delay: 100ms"><span>1</span>Поръчай</span>
        </div>
        <div class="col-sm-3">
            <div class="animated fadeInLeft in-view" style="animation-delay: 600ms"> <div class="icon-box step-2 "></div></div>
            <span class="next  animated fadeInLeft in-view" style="animation-delay: 1100ms"></span>
            <span class="title  animated fadeInLeft in-view" style="animation-delay: 600ms"><span>2</span>Вземане на автомобила от посоченото място при поръчка</span>
        </div>
        <div class="col-sm-3">
            <div class="animated fadeInLeft in-view" style="animation-delay: 1200ms"> <div class="icon-box step-3"></div></div>
            <span class="next  animated fadeInLeft in-view" style="animation-delay: 1700ms"></span>
            <span class="title  animated fadeInLeft in-view" style="animation-delay: 1200ms"><span>3</span>Извършване на услугата</span>
        </div>
        <div class="col-sm-3">
            <div class="animated fadeInLeft in-view" style="animation-delay: 1800ms"> <div class="icon-box step-4"></div></div>
            <span class="title  animated fadeInLeft in-view" style="animation-delay: 1800ms"><span>4</span>Връщане на автомобила на посоченото място при поръчка</span>
        </div>
    </div>
</div>
