@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="d-flex justify-content-center mt-4">
    <div class="container">
        total not accepted requests: 15
        Workshop requests: 3
        Car wash requests: 5
    </div>
</div>
