@model IEnumerable<AutoXen.Web.ViewModels.Requests.RequestViewModel>

<h4 class="text-center mb-3">Your Requests</h4>

<table class="table table-hover border border-dark table-bordered">
    <thead class="thead-dark">
        <tr>
            <th >
                Your car
            </th>
            <th>
                Created on
            </th>
            <th>
                Request type
            </th>
            <th class="text-center">
                Info
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null){
            @foreach (var request in Model)
            {
                <tr>
                    <td>@($"Brand: {request.Car.Brand} - Model: {request.Car.Model} - {request.Car.RegistrationPlate}")</td>
                    <td name="date">@request.CreatedOn</td>
                    <td>@request.RequestName</td>
                    <td class="text-center"><a asp-controller="" asp-action="" asp-route-id="@request.Id" class="btn btn-outline-info">Info</a></td>
                </tr>
            }
        }
    </tbody>
</table>
