@model IEnumerable<AutoXen.Web.ViewModels.Requests.RequestViewModel>

<h3>Your Requests</h3>

<table class="table table-active">
    <thead class="thead-dark">
        <tr>
            <th >
                Your car
            </th>
            <th>
                Request type
            </th>
            <th>
                <a class="btn btn-outline-info">Info</a>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
