<h1>Workshop</h1>
<hr />
<select class="js-example-basic-multiple col-md-8" name="states[]" multiple="multiple">
    <option value="AL">Alabama</option>
    ...
    <option value="WY">Wyoming</option>

    <option value="as">assa</option>

    <option value="123">123</option>

    <option value="TTT">TTT</option>
</select>