@using AutoXen.Services.Data
@using Microsoft.AspNetCore.Identity
@using AutoXen.Data.Models
@inject ICarService carService
@inject UserManager<ApplicationUser> user
@model string

<div class="pb-4">
    <div class="form-row d-flex justify-content-center ">
        <label class="col-form-label" for="CarId">Pick your car</label>
    </div>
    <div class="form-row d-flex justify-content-center">
        <div class="col-lg-10">
            <select class="form-control" name="CarId">
                @foreach (CarViewModel car in this.carService.AllCars(user.GetUserId(this.User)))
                {
                    var name = $"Brand: {car.Brand} - Model: {car.Model} - Registration plate: {car.RegistrationPlate}";
                    if (car.Id == Model)
                    {
                        <option selected value="@car.Id">
                            @name
                        </option>
                    }
                    else
                    {
                        <option value="@car.Id">
                            @name
                        </option>
                    }
                }
            </select>
        </div>
    </div>
</div>