@model AutoXen.Web.ViewModels.Common.PickUpViewModel

<div class="pb-4">
    <div class="form-row">
        <div class="col-md-6">
            <div class="text-center">
                <label class="col-form-label" asp-for="Location"></label>
                <input class="input-group form-control" asp-for="Location" name="PickUp.Location" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <label class="col-form-label" asp-for="FastAsPossible"></label>
                <input class="form-check-inline" asp-for="FastAsPossible" name="PickUp.FastAsPossible" />
                <input class="input-group form-control" asp-for="Time" name="PickUp.Time" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pickUp.js"></script>
