@using AutoXen.Web.ViewModels.Common
@model RequestInformationViewModel 

<div class="row">
    <div class="text-center col-lg-6">
        <label class="text-muted col-form-label" asp-for="PickedUp"></label>
        <input disabled class="form-check-inline" asp-for="PickedUp" />
    </div>
    <div class="text-center col-lg-6">
        <label class="text-muted col-form-label" asp-for="ServiceFinished"></label>
        <input disabled class="form-check-inline" asp-for="ServiceFinished" />
    </div>
    <div class="text-center col">
        <label class="text-muted col-form-label" asp-for="ReturnedCar"></label>
        <input disabled class="form-check-inline" asp-for="ReturnedCar" />
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="text-center col-sm-6 col-md-8 col-lg-6 col-xl-5">
        <label class=" text-muted col-form-label" asp-for="FinishedOn"></label>
        <input disabled class="form-control" asp-for="FinishedOn" />
    </div>
</div>

<hr />