@using AutoXen.Common 
@model AutoXen.Web.ViewModels.Cars.CarViewModel

<div class="form-row pb-4 d-flex justify-content-center">
    <div class="col-lg-8">
        <div class="text-center">
            <label class="text-muted col-form-label">Your car</label>
            <input disabled class="form-control" value="@($"{Model.Brand} - {Model.Model} - {Model.RegistrationPlate}")" />
        </div>
    </div>
</div>