@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row mt-3 mb-2 container-fluid">
    <div class="col-12 col-md-8 text-center">
        <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
    </div>
</div>
