a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 15px; /* Vertically center the text there */
}

.navbar {
    background-color: black;
}

nav div div ul li a{
    color: white;
}

.textColor:hover {
    color: rgb(255,196,81) !important;
}

.textColor{
    color:white !important;
}

.active-text-color {
    color: rgb(255,196,81) !important;
}

.drop-down-color {
    color: rgb(255,196,81);
}

.white-baground-hover:hover {
    background-color: rgb(41, 41, 41);
}

.black-baground {
    background-color: black;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,196,81);
}

.nowrap {
    white-space: nowrap;
}

.nav-link.active {
    background-color: rgb(255,196,81) !important;
    color: white !important;
}

.btn.btn-primary {
    background-color: rgb(255,196,81) !important;
    color: white !important;
    border-color: rgb(240, 170, 34) !important;
}

.btn.btn-primary:hover {
    background-color: rgb(240, 170, 34) !important;
    color: white !important;
}

.btn-outline-primary {
    background-color: white !important;
    color: rgb(255,196,81) !important;
    border-color: rgb(255,196,81) !important;
}

.btn-outline-primary:hover {
    background-color: rgb(255,196,81) !important;
    color: white !important;
}

.btn-link {
    color: rgb(255,196,81) !important;
}

.btn-link:hover {
    color: rgb(240, 170, 34) !important;
}

.btn-link-white {
    color: white !important;
    background: none;
    border: none;
}

.btn-link-white:hover {
    color: rgb(255,196,81) !important;
}

.underline-primary {
    text-decoration: underline;
    text-decoration-color: rgb(255,196,81);
}

.navbar-brand {
    width: 150px; /* change this according to your layout */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* for language drop down */
#languageDropDown .dropdown{
    background-color: black;
    padding: 3px;
}

#languageDropDown .dropdown-menu {
    min-width: 30px;
    max-width: 40px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-top: 3px;
    background-color: black;
    outline: 0px;
    border: 0px;
}

#languageDropDown .dropdown-menu :hover {
    background-color: black;
}

#languageDropDown .dropdown-toggle {
    outline: 0px;
}

#languageDropDown .dropdown-item {
    padding: 0px;
    outline: 0px;
    border: 0px;
}

#languageDropDown .dropdown-item:focus {
    background-color: black;
}

/* underline*/
.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: rgb(255,196,81);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* for charts */
.chart {
    min-height: 450px;
    width: 100%;
    max-width: 800px;
}